@media (max-width: 640px) {
    body {
        overflow: hidden;
        /* Prevents scrolling */
        position: fixed;
        /* Fixes the position */
        width: 100vw;
        /* Ensures full width */
        height: 100vh;
        /* Ensures full height */
        transform: rotate(0deg);
        /* Ensures no rotation */
    }
}